[Unit]
Description=Locchan's Event Daemon
After=network.target

[Service]
Type=simple
Environment=PYTHONUNBUFFERED=1
ExecStart=%LED_BIN% --config /etc/led/config.json
Restart=on-failure
RestartSec=5
RuntimeDirectory=led
RuntimeDirectoryMode=0750

[Install]
WantedBy=multi-user.target
